Repository RainbowAllRounders/GoalKeeper, pull requests merged in 2024-05, with the labels that each got.

#10 Fix/gitignore
  .gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/goalkeeper.iml
  .idea/modules/goalkeeper.main.iml
  .idea/modules/goalkeeper.test.iml
  .idea/vcs.xml
Labels: ⚙ Setting, 🔨 Fix, 💾 Server

#17 Fix/goal add html, css added
  .gitignore
  src/main/resources/static/css/default.css
  src/main/resources/static/css/goalAdd.css
  src/main/resources/static/images/plusBtn.png
  src/main/resources/templates/goal/goalAdd.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client

#18 IntroImage추가
  src/main/resources/static/images/main/GoalKeeperLogo.png
  src/main/resources/static/images/main/GoalKeeperLogo_white.png
  src/main/resources/static/images/main/IntroCard1.png
  src/main/resources/static/images/main/IntroCard2.png
  src/main/resources/static/images/main/IntroCard3.png
  src/main/resources/static/images/main/IntroCard4.png
  src/main/resources/static/images/main/IntroCard5.png
  src/main/resources/static/images/main/IntroCard6.png
  src/main/resources/static/images/main/IntroCard7.png
  src/main/resources/static/images/main/IntroCard8.png
Labels: ✨ Feature, 🎨 Html&css, 💻 Client

#27 Feat/login,join,game css
  src/main/resources/static/css/game/game_main.css
  src/main/resources/static/css/member/join.css
  src/main/resources/static/css/member/login.css
  src/main/resources/static/font/Jalnan2/Jalnan2.otf
  src/main/resources/static/font/Jalnan2/Jalnan2TTF.ttf
  src/main/resources/static/font/JalnanGothic/JalnanGothic.otf
  src/main/resources/static/font/JalnanGothic/JalnanGothicTTF.ttf
  src/main/resources/static/images/Group 18.png
  src/main/resources/static/images/Join - 재원.png
  src/main/resources/static/images/Login - 재원.png
  src/main/resources/static/images/축구게임.png
  src/main/resources/static/images/한탕게임_1-1.png
  src/main/resources/static/images/헤더 로고.png
Labels: 🎨 Html&css, 💻 Client

#29 Feat/my page html
  src/main/resources/static/images/Flame.svg
  src/main/resources/static/images/coin.svg
  src/main/resources/static/images/coin_pouch.svg
  src/main/resources/static/images/crown.svg
  src/main/resources/static/images/ghost.svg
  src/main/resources/static/images/joystick.svg
  src/main/resources/static/images/laurel_wreath.svg
  src/main/resources/static/images/next_btn.svg
  src/main/resources/static/images/pencil.svg
  src/main/resources/static/images/profile.png
  src/main/resources/templates/member/myPage.html
Labels: 🎨 Html&css

#30 goalList.css 코드 추가
  src/main/resources/static/css/goalAdd.css
  src/main/resources/static/css/goalList.css
Labels: 🎨 Html&css, 🔨 Fix, 💻 Client

#34 로그인,회원가입 박스 크기 수정
  src/main/resources/static/css/member/join.css
  src/main/resources/static/css/member/login.css
  src/main/resources/templates/member/join.html
Labels: 🎨 Html&css, 💻 Client

#35 goalAdd.css, goalList.css 파일 디렉토리 변경
  src/main/resources/static/css/goal/goalAdd.css
  src/main/resources/static/css/goal/goalList.css
  src/main/resources/templates/goal/goalAdd.html
  src/main/resources/templates/goal/goalList.html
Labels: 🎨 Html&css, 🔨 Fix

#37 Delete build directory
  build/reports/tests/test/classes/com.allrounders.goalkeeper.GoalkeeperApplicationTests.html
  build/reports/tests/test/css/base-style.css
  build/reports/tests/test/css/style.css
  build/reports/tests/test/index.html
  build/reports/tests/test/js/report.js
  build/reports/tests/test/packages/com.allrounders.goalkeeper.html
  build/resolvedMainClassName
  build/resources/main/application.properties
  build/test-results/test/TEST-com.allrounders.goalkeeper.GoalkeeperApplicationTests.xml
  build/test-results/test/binary/output.bin
  build/test-results/test/binary/output.bin.idx
  build/test-results/test/binary/results.bin
  build/tmp/bootJar/MANIFEST.MF
  build/tmp/compileJava/previous-compilation-data.bin
  build/tmp/compileTestJava/previous-compilation-data.bin
  build/tmp/jar/MANIFEST.MF
Labels: ⚙ Setting, 💾 Server

#38 Delete .gradle directory
  .gradle/8.7/checksums/checksums.lock
  .gradle/8.7/checksums/md5-checksums.bin
  .gradle/8.7/checksums/sha1-checksums.bin
  .gradle/8.7/dependencies-accessors/gc.properties
  .gradle/8.7/executionHistory/executionHistory.bin
  .gradle/8.7/executionHistory/executionHistory.lock
  .gradle/8.7/fileChanges/last-build.bin
  .gradle/8.7/fileHashes/fileHashes.bin
  .gradle/8.7/fileHashes/fileHashes.lock
  .gradle/8.7/fileHashes/resourceHashesCache.bin
  .gradle/8.7/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/file-system.probe
  .gradle/vcs-1/gc.properties
Labels: ⚙ Setting, 💾 Server

#40 Delete .idea directory
  .idea/.gitignore
  .idea/.name
  .idea/compiler.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/goalkeeper.iml
  .idea/modules/goalkeeper.main.iml
  .idea/modules/goalkeeper.test.iml
  .idea/vcs.xml
Labels: ⚙ Setting, 💾 Server

#45 feat : header html+css
  src/main/resources/static/css/header.css
  src/main/resources/static/images/header/Alarmicon.png
  src/main/resources/static/images/header/Fireicon.png
  src/main/resources/static/images/header/Fireicon_pink.png
  src/main/resources/static/images/header/Gameicon.png
  src/main/resources/static/images/header/Gameicon_pink.png
  src/main/resources/static/images/header/GoalKeeperLogo.png
  src/main/resources/static/images/header/Penicon.png
  src/main/resources/static/images/header/Penicon_pink.png
  src/main/resources/static/images/header/loginbtn.png
  src/main/resources/static/images/header/profile.png
  src/main/resources/static/images/header/reddoticon.png
  src/main/resources/templates/layout/bodyheader.html
Labels: 🎨 Html&css

#48 myPage.html css 분리 및 모달 작업중
  src/main/resources/static/css/member/myPage.css
  src/main/resources/templates/member/myPage.html
Labels: 🎨 Html&css

#49 Feat/goal detail
  src/main/resources/static/css/goalDetail.css
  src/main/resources/static/images/eclipse.png
  src/main/resources/static/images/main_img.png
  src/main/resources/static/images/userPro.png
  src/main/resources/static/images/인증사진.png
  src/main/resources/templates/goal/goalDetail.html
Labels: ✨ Feature, 🎨 Html&css, 💻 Client

#50 css 수정 중
  src/main/resources/static/css/goal/goalAdd.css
  src/main/resources/static/css/goal/goalList.css
  src/main/resources/static/css/member/myGoalList.css
  src/main/resources/templates/goal/goalAdd.html
Labels: 🎨 Html&css, 🔨 Fix

#54 달팽이 js 움직이기 구현
  src/main/resources/static/css/game/bat_game.css
  src/main/resources/static/js/game/bat_game.js
  src/main/resources/templates/game/game_main.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client

#55 Feat/add entities
  src/main/java/com/allrounders/goalkeeper/domain/AuthImg.java
  src/main/java/com/allrounders/goalkeeper/domain/BaseEntity.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/GoalImg.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/domain/Likes.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/domain/MemberGoal.java
  src/main/java/com/allrounders/goalkeeper/domain/OXGame.java
  src/main/java/com/allrounders/goalkeeper/domain/ProfileImg.java
  src/main/java/com/allrounders/goalkeeper/domain/Ranks.java
Labels: ⚙ Setting, ✨ Feature, 💾 Server

#57 feat/미션상세페이지 90퍼 완성
  src/main/resources/static/css/goalDetail.css
  src/main/resources/static/images/grey_next.png
  src/main/resources/static/images/grey_prev.png
  src/main/resources/static/js/goal/goalDetail.js
  src/main/resources/templates/goal/goalDetail.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client

#58 Fix/header fixing
  src/main/java/com/allrounders/goalkeeper/controller/MemberController.java
  src/main/resources/static/css/goalmain/Intro.css
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/css/header.css
  src/main/resources/static/images/intro/GoalKeeperLogo.png
  src/main/resources/static/images/intro/GoalKeeperLogo_white.png
  src/main/resources/static/images/intro/IntroCard1.png
  src/main/resources/static/images/intro/IntroCard2.png
  src/main/resources/static/images/intro/IntroCard3.png
  src/main/resources/static/images/intro/IntroCard4.png
  src/main/resources/static/images/intro/IntroCard5.png
  src/main/resources/static/images/intro/IntroCard6.png
  src/main/resources/static/images/intro/IntroCard7.png
  src/main/resources/static/images/intro/IntroCard8.png
  src/main/resources/static/images/main/Alarm.png
  src/main/resources/static/images/main/Crown.png
  src/main/resources/static/images/main/Group-person.png
  src/main/resources/static/images/main/Heart.png
  src/main/resources/static/images/main/arrow.png
  src/main/resources/static/images/main/dansang.png
  src/main/resources/static/images/main/goalimg.png
  src/main/resources/static/images/main/hotgoal.png
  src/main/resources/static/images/main/point.png
  src/main/resources/static/images/main/progress.png
  src/main/resources/static/images/main/ranklogo.png
  src/main/resources/static/images/main/ranklogo_gray.png
  src/main/resources/static/images/main/upbtn.png
  src/main/resources/static/js/main/main.js
  src/main/resources/templates/layout/bodyheader.html
  src/main/resources/templates/main/GoalMain.html
  src/main/resources/templates/main/Intro.html
Labels: 🎨 Html&css

#62 Feat/my page
  src/main/java/com/allrounders/goalkeeper/config/WebConfig.java
  src/main/java/com/allrounders/goalkeeper/controller/MypageController.java
  src/main/resources/static/css/member/myPage.css
  src/main/resources/static/css/member/myPage_modal.css
  src/main/resources/static/images/mySon.jpg
  src/main/resources/static/js/member/myPage.js
  src/main/resources/templates/member/myPage.html
Labels: 🎨 Html&css

#63 컨트롤러 매핑 오류 수정
  src/main/java/com/allrounders/goalkeeper/controller/MypageController.java
Labels: 🔨 Fix, 💾 Server

#64 날짜 선택 시 js 추가
  src/main/resources/static/js/goal/goalAdd.js
  src/main/resources/templates/goal/goalAdd.html
Labels: ✨ Feature, 🎨 Html&css, 💻 Client

#65 달팽이게임 html,css,js 스왈,움직이기,승리,패배 메시지 추가
  src/main/resources/static/css/game/bat_game.css
  src/main/resources/static/js/game/bat_game.js
  src/main/resources/templates/game/bat_game.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client

#66 feat : Intro 스와이프라이브러리 추가
  src/main/resources/static/css/goalmain/Intro.css
  src/main/resources/static/images/intro/IntroCard1.png
  src/main/resources/static/images/intro/IntroCard2.png
  src/main/resources/static/images/intro/IntroCard3.png
  src/main/resources/static/images/intro/IntroCard4.png
  src/main/resources/static/images/intro/IntroCard5.png
  src/main/resources/static/images/intro/IntroCard6.png
  src/main/resources/static/images/intro/IntroCard7.png
  src/main/resources/static/images/intro/IntroCard8.png
  src/main/resources/static/images/intro/미션카드1.png
  src/main/resources/static/images/intro/미션카드2.png
  src/main/resources/static/images/intro/미션카드3.png
  src/main/resources/static/images/intro/미션카드4.png
  src/main/resources/static/images/intro/미션카드5.png
  src/main/resources/static/images/intro/미션카드6.png
  src/main/resources/static/images/intro/미션카드7.png
  src/main/resources/static/images/intro/미션카드8.png
  src/main/resources/static/images/intro/미션카드9.png
  src/main/resources/static/js/main/intro.js
  src/main/resources/templates/main/Intro.html
Labels: 🎨 Html&css

#68 feta/상세페이지 자바스크립트 포함
  src/main/resources/static/css/goal/goalDetail.css
  src/main/resources/static/js/goal/goalDetail.js
  src/main/resources/templates/goal/goalDetail.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client

#69 fix/setting.gradle 루트 프로젝트 이름 변경
  settings.gradle
Labels: ⚙ Setting

#70 Fix/goalmain fixing
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/css/header.css
  src/main/resources/static/images/header/Alarmopen.png
  src/main/resources/static/images/header/upbtn.png
  src/main/resources/static/js/main/header.js
  src/main/resources/static/js/main/main.js
  src/main/resources/templates/layout/bodyheader.html
  src/main/resources/templates/main/GoalMain.html
Labels: 🎨 Html&css

#72 QuerydslConfig 설정
  src/main/java/com/allrounders/goalkeeper/config/QuerydslConfig.java
Labels: ⚙ Setting, 💾 Server

#73 fix : goalmainJsFixing
  src/main/resources/static/css/footer.css
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/images/main/redHeart.png
  src/main/resources/static/js/main/main.js
  src/main/resources/templates/layout/bodyfooter.html
  src/main/resources/templates/layout/bodyheader.html
  src/main/resources/templates/main/GoalMain.html
Labels: 🎨 Html&css, 🔨 Fix

#74 Del/web config deleted
  src/main/java/com/allrounders/goalkeeper/config/CustomServletConfig.java
  src/main/java/com/allrounders/goalkeeper/config/WebConfig.java
Labels: ⚙ Setting, 🔨 Fix, 💾 Server

#78 Fix/profile img
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/ProfileImg.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/LikesDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberGoalDTO.java
Labels: 🐞 BugFix, 🔨 Fix, 💾 Server

#84 Feat/join dto,controller,service
  src/main/java/com/allrounders/goalkeeper/controller/MemberController.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberSignUpDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/templates/member/join.html
Labels: ✨ Feature, 🔨 Fix, 💾 Server

#85 GoalJoinMemberDTO 생성
  src/main/java/com/allrounders/goalkeeper/dto/GoalJoinMemberDTO.java
Labels: ✨ Feature, 💾 Server

#91 Fix join dto,service,controller
  src/main/java/com/allrounders/goalkeeper/controller/MemberController.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberSignUpDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
Labels: 🔨 Fix, 💾 Server

#92 QClass 깃이그노어에 추가
  .gitignore
Labels: ⚙ Setting, 💾 Server

#94 Feat/member profile
  build.gradle
  src/main/java/com/allrounders/goalkeeper/controller/LoginController.java
  src/main/java/com/allrounders/goalkeeper/controller/MemberController.java
  src/main/java/com/allrounders/goalkeeper/controller/MyPageController.java
  src/main/java/com/allrounders/goalkeeper/controller/MypageController.java
  src/main/java/com/allrounders/goalkeeper/dto/LoginDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MyPageDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MyPageInfoDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/java/com/allrounders/goalkeeper/service/MemberServiceImpl.java
  src/main/resources/application.properties
  src/main/resources/templates/member/login.html
  src/main/resources/templates/member/myPage.html
  src/test/java/com/allrounders/goalkeeper/repository/MemberRepositoryTests.java
Labels: ✨ Feature, 🔨 Fix

#95 Feat/member profile
  src/main/java/com/allrounders/goalkeeper/service/MemberServiceImpl.java
Labels: 🔨 Fix, 💾 Server

#96 Feat/entities fixed
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepositoryImpl.java
Labels: 🔨 Fix, 💾 Server

#97 myPage 프로필 수정(+포인트 차감) 기능 추가 (프로필 사진 제외)
  src/main/java/com/allrounders/goalkeeper/controller/MyPageController.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/MyPageModifyDTO.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/static/js/member/myPage.js
  src/main/resources/templates/member/myPage.html
Labels: ✨ Feature, 🔨 Fix, 💾 Server

#98 Fix/goal entity fixed
  src/main/java/com/allrounders/goalkeeper/controller/GoalController.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/GoalImg.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/HashtagDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalImgRepository.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/templates/goal/goalAdd.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💾 Server

#100 id 타입 Integer에서 Long으로 변경
  src/main/java/com/allrounders/goalkeeper/domain/AuthImg.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/domain/Likes.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/domain/MemberGoal.java
  src/main/java/com/allrounders/goalkeeper/domain/OXGame.java
  src/main/java/com/allrounders/goalkeeper/domain/ProfileImg.java
  src/main/java/com/allrounders/goalkeeper/domain/Ranks.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalJoinMemberDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/HashtagDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberDTO.java
Labels: 🐞 BugFix, 🔨 Fix, 💾 Server

#101 Fix/enctype fixed
  src/main/java/com/allrounders/goalkeeper/controller/GoalController.java
  src/main/resources/templates/goal/goalAdd.html
Labels: 🎨 Html&css, 🐞 BugFix, 🔨 Fix

#102 fix/member_profile myPage 예외처리, 오타수정
  src/main/java/com/allrounders/goalkeeper/dto/MyPageInfoDTO.java
  src/main/resources/static/css/header.css
  src/main/resources/static/css/member/myPage.css
  src/main/resources/static/js/member/myPage.js
  src/main/resources/templates/member/myPage.html
Labels: 🎨 Html&css, 🔨 Fix, 💻 Client

#103 Fix/enctype fixed
  src/main/java/com/allrounders/goalkeeper/controller/GoalController.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/HashtagDTO.java
  src/main/resources/static/css/goal/goalAdd.css
  src/main/resources/static/js/goal/goalAdd.js
  src/main/resources/templates/goal/goalAdd.html
Labels: 🎨 Html&css, 🐞 BugFix, 🔨 Fix, 💻 Client, 💾 Server

#104 Feat/rank
  src/main/java/com/allrounders/goalkeeper/controller/MainController.java
  src/main/java/com/allrounders/goalkeeper/dto/RankDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/RankRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/RankRepositoryCustom.java
  src/main/java/com/allrounders/goalkeeper/repository/RankRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/RankService.java
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/templates/main/GoalMain.html
Labels: 🔨 Fix, 💾 Server

#105 Fix/enctype fixed
  src/main/java/com/allrounders/goalkeeper/controller/GoalController.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/domain/MemberGoal.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberGoalDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/LikesRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberGoalRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/RankRepository.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/static/js/goal/goalAdd.js
  src/main/resources/templates/goal/goalAdd.html
  src/test/java/com/allrounders/goalkeeper/repository/GoalRepositoryTests.java
  src/test/java/com/allrounders/goalkeeper/repository/MemberGoalRepositoryTests.java
Labels: 🎨 Html&css, 🔨 Fix, ✅ Test, 💻 Client, 💾 Server

#106 Feat/like acticve
  src/main/java/com/allrounders/goalkeeper/controller/GoalController.java
  src/main/java/com/allrounders/goalkeeper/controller/LikesController.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Likes.java
  src/main/java/com/allrounders/goalkeeper/dto/goal/GoalDetailDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/LikesCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/LikesRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/LikesRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/java/com/allrounders/goalkeeper/service/LikeService.java
Labels: ✨ Feature, 💾 Server

#107 Fix/dupli code del
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/RankRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
Labels: 🔨 Fix, 💾 Server

#108 Feat/member_unregister 회원 탈퇴 기능 추가
  src/main/java/com/allrounders/goalkeeper/controller/LoginController.java
  src/main/java/com/allrounders/goalkeeper/controller/MyPageController.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberUnregisterDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/static/css/member/myPage.css
  src/main/resources/static/js/member/myPage.js
  src/main/resources/templates/member/myPage.html
Labels: ✨ Feature, 🔨 Fix, 💻 Client, 💾 Server

#109 Fix/dupli code del
  src/main/resources/static/css/header.css
  src/main/resources/static/js/goal/goalAdd.js
  src/main/resources/templates/goal/goalAdd.html
  src/main/resources/templates/layout/bodyheader.html
Labels: 🎨 Html&css, 🐞 BugFix, 🔨 Fix, 💻 Client, 💾 Server

#113 setMemberId 설정
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
Labels: ✨ Feature, 💾 Server

#114 refact/좋아요 기능 리팩토링
  src/main/java/com/allrounders/goalkeeper/controller/LikesController.java
  src/main/java/com/allrounders/goalkeeper/domain/Likes.java
  src/main/java/com/allrounders/goalkeeper/repository/LikesCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/LikesRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/LikeService.java
Labels: 🔨 Fix, 💾 Server

#115 Feat/main top3 goal
  src/main/java/com/allrounders/goalkeeper/controller/MainController.java
  src/main/java/com/allrounders/goalkeeper/dto/Top3GoalDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/templates/main/GoalMain.html
  src/test/java/com/allrounders/goalkeeper/repository/GoalRepositoryTests.java
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, ✅ Test, 💾 Server

#117 Fix/goal codes
  src/main/java/com/allrounders/goalkeeper/controller/GoalController.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/HashtagDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/HashtagRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberGoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberGoalRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/MemberGoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/static/css/goal/goalList.css
  src/main/resources/static/js/goal/goalList.js
  src/main/resources/templates/goal/goalList.html
  src/main/resources/templates/layout/bodyheader.html
  src/test/java/com/allrounders/goalkeeper/repository/HashtagRepositoryTests.java
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client, 💾 Server

#120 fix/로그인 회원가입 게임 html,css 타임리프 추가 수정
  src/main/resources/templates/game/bat_game.html
  src/main/resources/templates/game/game_main.html
  src/main/resources/templates/member/join.html
  src/main/resources/templates/member/login.html
Labels: 🐞 BugFix, 🔨 Fix, 💾 Server

#121 feat/hashtag조회
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/dto/goal/GoalDetailDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/HashtagCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/HashtagRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/HashtagRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
Labels: ✨ Feature, 💾 Server

#122 Refact/like method
  src/main/java/com/allrounders/goalkeeper/controller/MemberGoalController.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Likes.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/domain/MemberGoal.java
  src/main/java/com/allrounders/goalkeeper/dto/goal/GoalDetailDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberGoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/MemberGoalRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/LikeService.java
  src/main/java/com/allrounders/goalkeeper/service/MemberGoalService.java
Labels: 🔨 Fix, 💾 Server

#118 Feat/layout
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/css/header.css
  src/main/resources/static/js/main/header.js
  src/main/resources/templates/layout/bodyheader.html
  src/main/resources/templates/layout/config.html
  src/main/resources/templates/layout/layout.html
  src/main/resources/templates/main/GoalMain.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix

#124 fix/달팽이게임 타임리프 코드 추가(수정)
  src/main/resources/templates/game/bat_game.html
Labels: 🎨 Html&css, 🔨 Fix

#125 Fix/미션 등록 시 hashtag 추가와 관련된 부분들 수정
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/HashtagDTO.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
Labels: 🔨 Fix, 💾 Server

#126 fix/conflict 해결
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberGoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/LikesRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/MemberGoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/MemberGoalRepositoryImpl.java
Labels: 🔨 Fix

#127 GoalService 수정
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
Labels: 🔨 Fix, 💾 Server

#128 goalAdd 프론트 쪽 수정 중
  src/main/resources/static/js/goal/goalAdd.js
  src/main/resources/templates/goal/goalAdd.html
Labels: 🎨 Html&css, 🔨 Fix, 💻 Client

#129 Fix/controller 로그인 세션 코드 수정 및 myPage도 관련 메서드로 변경
  src/main/java/com/allrounders/goalkeeper/controller/GameController.java
  src/main/java/com/allrounders/goalkeeper/controller/MemberController.java
  src/main/java/com/allrounders/goalkeeper/controller/MyPageController.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/static/js/member/myPage.js
Labels: 🐞 BugFix, 🔨 Fix, 💾 Server

#131 HashtagDTO, GoalService 수정 - hashtag Add 시 goal 추가되게 수정
  src/main/java/com/allrounders/goalkeeper/dto/HashtagDTO.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
Labels: 🐞 BugFix, 🔨 Fix, 💾 Server

#133 Fix/goal add fixed
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Hashtag.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/domain/MemberGoal.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/HashtagDTO.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
Labels: 🐞 BugFix, 🔨 Fix, 💾 Server

#132 feat/로그인,회원가입 로고 이미지 수정 및 controller,service 주석 코드 삭제
  src/main/java/com/allrounders/goalkeeper/controller/MemberController.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/static/css/member/join.css
  src/main/resources/static/images/Join_back.png
  src/main/resources/templates/member/join.html
  src/main/resources/templates/member/login.html
Labels: 🎨 Html&css, 🔨 Fix

#135 fix/로그인 페이지 회원가입 태그, 이미지 수정
  src/main/resources/static/css/member/join.css
  src/main/resources/static/css/member/login.css
  src/main/resources/static/images/Join_Back.png
  src/main/resources/static/images/Login_Back.png
  src/main/resources/templates/member/login.html
Labels: 🎨 Html&css, 🔨 Fix

#136 fix : main url수정
  src/main/java/com/allrounders/goalkeeper/controller/MainController.java
  src/main/resources/templates/layout/bodyheader.html
  src/main/resources/templates/main/Intro.html
Labels: 🔨 Fix

#137 fix/헤더로고 이미지 수정
  src/main/resources/static/images/Header_Logo.png
  src/main/resources/templates/member/join.html
  src/main/resources/templates/member/login.html
Labels: 🎨 Html&css, 🔨 Fix

#138 feat/myPage_myGoal 내미션 불러오기 프로그래스바 프론트 작업 진행중
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/resources/static/css/member/myPage.css
  src/main/resources/templates/member/myPage.html
Labels: 🎨 Html&css, 🔨 Fix, 💻 Client

#139 fix/로그인 회원가입 게임메인 프론트 수정 및 gameController 매핑 메서드 추가
  src/main/java/com/allrounders/goalkeeper/controller/GameController.java
  src/main/resources/static/css/member/join.css
  src/main/resources/static/css/member/login.css
  src/main/resources/templates/game/game_main.html
  src/main/resources/templates/member/join.html
  src/main/resources/templates/member/login.html
Labels: 🎨 Html&css, 🔨 Fix

#140 Fix/maincss
  src/main/resources/static/css/goalmain/goalmain.css
Labels: 🔨 Fix

#141 Fix/goal list codes fixing
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/MemberGoal.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/templates/goal/goalList.html
Labels: 🎨 Html&css, 🔨 Fix, 💾 Server

#142 feat/로그인, 회원가입 시 정보 중복 경고 메시지 추가
  src/main/java/com/allrounders/goalkeeper/controller/MemberController.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/static/css/member/join.css
  src/main/resources/static/css/member/login.css
  src/main/resources/templates/member/join.html
  src/main/resources/templates/member/login.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix

#144 미션 등록 페이지 swal창 수정 및 추가
  src/main/resources/static/js/goal/goalAdd.js
  src/main/resources/templates/goal/goalAdd.html
Labels: 🎨 Html&css, 🔨 Fix, 💻 Client

#145 Goal, Member 엔티티 필드 int -> Integer
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
Labels: 🔨 Fix, 💾 Server

#146 Feat/myPage_mygoalInfo 내미션 불러오기 기능 완성
  src/main/java/com/allrounders/goalkeeper/GoalkeeperApplication.java
  src/main/java/com/allrounders/goalkeeper/controller/MyPageController.java
  src/main/java/com/allrounders/goalkeeper/domain/AuthImg.java
  src/main/java/com/allrounders/goalkeeper/dto/MyGoalProgressDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/AuthImgRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberGoalRepository.java
  src/main/java/com/allrounders/goalkeeper/service/MemberGoalService.java
  src/main/resources/static/css/member/myPage.css
  src/main/resources/templates/member/myPage.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client, 💾 Server

#147 Fix/html location fixed
  src/main/resources/templates/goal/goalAdd.html
  src/main/resources/templates/goal/goalList.html
Labels: 🎨 Html&css, 🔨 Fix

#148 Member 관련 코드 모듈화 진행중
  src/main/java/com/allrounders/goalkeeper/controller/MyPageController.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
Labels: 🔨 Fix

#149 Feat/goal list pagination 완료
  src/main/java/com/allrounders/goalkeeper/controller/GoalController.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/PageRequestDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/PageResponseDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/static/css/goal/goalList.css
  src/main/resources/static/js/goal/goalList.js
  src/main/resources/templates/goal/goalAdd.html
  src/main/resources/templates/goal/goalList.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💾 Server

#155 Feat/모집 진행 완료 필터 + 쿼리 스트링 추가 + MyPageController 매핑 수정
  src/main/java/com/allrounders/goalkeeper/controller/MyPageController.java
  src/main/java/com/allrounders/goalkeeper/dto/MyGoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/PageRequestDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/static/css/goal/goalList.css
  src/main/resources/static/js/goal/goalList.js
  src/main/resources/static/js/member/myPage.js
  src/main/resources/templates/goal/goalList.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client, 💾 Server

#157 Feat/my goal list pagination 백엔드, html 작업 완료
  src/main/java/com/allrounders/goalkeeper/controller/MyPageController.java
  src/main/java/com/allrounders/goalkeeper/dto/MyGoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/static/css/member/myGoalList.css
  src/main/resources/templates/member/myGoalList.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💾 Server

#158 Feat/header
  src/main/java/com/allrounders/goalkeeper/controller/MainController.java
  src/main/java/com/allrounders/goalkeeper/repository/MemberRepository.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/css/header.css
  src/main/resources/static/js/main/header.js
  src/main/resources/static/js/main/main.js
  src/main/resources/templates/layout/bodyheader.html
  src/main/resources/templates/main/GoalMain.html
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client

#159 fix/게임메인,달팽이게임 타임리프 수정
  src/main/java/com/allrounders/goalkeeper/controller/GameController.java
  src/main/java/com/allrounders/goalkeeper/controller/MemberController.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/GameDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/UpdatePointDTO.java
  src/main/java/com/allrounders/goalkeeper/service/GameService.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/static/js/game/bat_game.js
  src/main/resources/templates/game/bat_game.html
  src/main/resources/templates/game/game_main.html
Labels: 🎨 Html&css, 🔨 Fix

#161 fix/헤더 마이페이지 경로 수정
  src/main/resources/templates/layout/bodyheader.html
Labels: 🎨 Html&css, 🔨 Fix

#162 경로 수정
  src/main/resources/templates/goal/goalList.html
  src/main/resources/templates/member/myGoalList.html
  src/main/resources/templates/member/myPage.html
Labels: 🎨 Html&css, 🔨 Fix

#164 feat/bat_game_point
  src/main/java/com/allrounders/goalkeeper/controller/GameController.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/UpdatePointDTO.java
  src/main/java/com/allrounders/goalkeeper/service/GameService.java
  src/main/resources/static/js/game/bat_game.js
Labels: ✨ Feature, 🔨 Fix, 💻 Client, 💾 Server

#165 feat : 비로그인시에 등록, 게임페이지 sweetalert창
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/js/main/header.js
  src/main/resources/templates/layout/bodyheader.html
  src/main/resources/templates/layout/config.html
  src/main/resources/templates/main/GoalMain.html
Labels: ✨ Feature, 🔨 Fix

#163 Feat/ox game
  src/main/java/com/allrounders/goalkeeper/controller/GameController.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/domain/OXGame.java
  src/main/java/com/allrounders/goalkeeper/dto/OXGameDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/OXGamePointDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/OXGameCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/OXGameRepository.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/OXGameRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/java/com/allrounders/goalkeeper/service/OXGameService.java
  src/main/resources/static/css/game/OXGame.css
  src/main/resources/static/images/OXGame/Alarm.png
  src/main/resources/static/images/OXGame/O.png
  src/main/resources/static/images/OXGame/OXbackground.png
  src/main/resources/static/images/OXGame/OXstartbtn.png
  src/main/resources/static/images/OXGame/X.png
  src/main/resources/static/images/OXGame/ball.png
  src/main/resources/static/images/OXGame/oxlogo.png
  src/main/resources/static/images/OXGame/timeprogress.png
  src/main/resources/static/js/game/OXGame.js
  src/main/resources/templates/game/OXgame.html
  src/test/java/com/allrounders/goalkeeper/repository/OXGameRepositoryTests.java
Labels: ✨ Feature, 🎨 Html&css, 🔨 Fix, 💻 Client, 💾 Server

#168 괄호빠짐
  src/main/java/com/allrounders/goalkeeper/controller/GameController.java
Labels: 🔨 Fix

#169 fix/myPage_thymeleaf 헤더, 푸터 타임리프 레이아웃 변경 및 타임리프 부분 수정
  src/main/resources/templates/member/myPage.html
Labels: 🔨 Fix

#170 feat/myPage_file 마이페이지 프로필 사진 변경 기능 추가(첨부파일 기능)
  src/main/java/com/allrounders/goalkeeper/controller/UploadController.java
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/MyPageInfoDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MyPageModifyDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/UploadFileDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/UploadResultDTO.java
  src/main/java/com/allrounders/goalkeeper/service/MemberService.java
  src/main/resources/static/css/member/myPage.css
  src/main/resources/static/css/member/myPage_modal.css
  src/main/resources/static/js/member/myPage.js
Labels: ✨ Feature, 📬 API, 🔨 Fix, 💻 Client, 💾 Server

#171 Fix/member_default 회원가입시 기본 이미지, 랭크포인트 0 보이게 수정
  src/main/java/com/allrounders/goalkeeper/domain/Member.java
  src/main/java/com/allrounders/goalkeeper/dto/MemberSignUpDTO.java
Labels: 🔨 Fix, 💾 Server

#172 Fix/미션 등록 시 isLiked = false 추가
  src/main/java/com/allrounders/goalkeeper/domain/Likes.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/java/com/allrounders/goalkeeper/service/LikeService.java
Labels: 🔨 Fix, 💾 Server

#173 fix/참여하기 문구 안 바뀌는 에러 해결
  src/main/resources/static/css/goal/goalDetail.css
  src/main/resources/static/js/goal/goalDetail.js
  src/main/resources/templates/goal/goalDetail.html
Labels: 🔨 Fix, 💻 Client, 💾 Server

#175 Fix/Member_default 헤더에 프로필사진 불러오도록 수정
  src/main/resources/static/js/main/header.js
  src/main/resources/templates/main/GoalMain.html
Labels: 🔨 Fix, 💻 Client

#176 경로수정, 메인화면 카드 좋아요, 헤더수정
  src/main/resources/static/css/game/OXGame.css
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/css/header.css
  src/main/resources/static/js/main/header.js
  src/main/resources/static/js/main/main.js
  src/main/resources/templates/game/game_main.html
  src/main/resources/templates/goal/goalAdd.html
  src/main/resources/templates/goal/goalList.html
  src/main/resources/templates/layout/bodyheader.html
  src/main/resources/templates/main/GoalMain.html
Labels: 🎨 Html&css, 🔨 Fix

#177 ox게임 정답처리
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/js/game/OXGame.js
  src/main/resources/templates/main/GoalMain.html
Labels: 🔨 Fix

#180 fix/게임 헤더 및 커서 포인터 수정
  src/main/resources/static/css/game/bat_game.css
  src/main/resources/static/css/game/game_main.css
  src/main/resources/static/css/member/join.css
  src/main/resources/static/css/member/login.css
  src/main/resources/static/js/game/bat_game.js
  src/main/resources/static/js/member/join.js
  src/main/resources/templates/game/bat_game.html
  src/main/resources/templates/game/game_main.html
  src/main/resources/templates/member/join.html
Labels: 🎨 Html&css, 🔨 Fix

#181 Feat/goal add img
  src/main/java/com/allrounders/goalkeeper/controller/UploadController.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MyGoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/java/com/allrounders/goalkeeper/service/ImgService.java
  src/main/resources/static/js/goal/goalAdd.js
  src/main/resources/templates/goal/goalAdd.html
  src/main/resources/templates/goal/goalList.html
  src/main/resources/templates/member/myGoalList.html
Labels: 🎨 Html&css, 🐞 BugFix, 🔨 Fix, 💻 Client, 💾 Server

#182 Feat/goalDetail_authImg 모달 진행중
  src/main/resources/templates/goal/goalDetail.html
Labels: 🎨 Html&css, 💻 Client

#183 Fix/header_profileImg 프로필 이미지 변경시 헤더도 동시적용되도록 수정
  src/main/resources/static/js/main/header.js
  src/main/resources/static/js/member/myPage.js
Labels: 🔨 Fix, 💻 Client

#184 fix : 프로그래스바
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/resources/static/css/goalmain/goalmain.css
  src/main/resources/static/js/main/header.js
  src/main/resources/static/js/main/main.js
  src/main/resources/templates/main/GoalMain.html
Labels: 🎨 Html&css, 🔨 Fix, 💻 Client

#185 미션 상세 페이지 하단부 작업중
  src/main/resources/static/css/goal/goalDetail.css
  src/main/resources/static/js/goal/goalDetail.js
  src/main/resources/templates/goal/goalDetail.html
Labels: ✨ Feature, 🎨 Html&css, 💻 Client

#186 del/goal add remove
  src/main/java/com/allrounders/goalkeeper/controller/UploadController.java
  src/main/java/com/allrounders/goalkeeper/domain/Goal.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalAddDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/GoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/dto/MyGoalListDTO.java
  src/main/java/com/allrounders/goalkeeper/repository/impl/GoalCustomRepositoryImpl.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/java/com/allrounders/goalkeeper/service/ImgService.java
  src/main/resources/static/favicon.ico
  src/main/resources/static/js/goal/goalAdd.js
  src/main/resources/static/js/goal/goalList.js
  src/main/resources/static/js/member/myGoalList.js
  src/main/resources/templates/goal/goalAdd.html
  src/main/resources/templates/goal/goalList.html
  src/main/resources/templates/member/myGoalList.html
Labels: 🔨 Fix, 💻 Client, 💾 Server

#187 Feat/goal add img
  src/main/resources/static/css/goal/goalAdd.css
  src/main/resources/templates/goal/goalAdd.html
  src/test/java/com/allrounders/goalkeeper/repository/GoalRepositoryTests.java
Labels: 🎨 Html&css, 🔨 Fix, 💻 Client

#188 Feat/goal add img
  src/main/java/com/allrounders/goalkeeper/controller/GoalController.java
  src/main/java/com/allrounders/goalkeeper/repository/GoalCustomRepository.java
  src/main/java/com/allrounders/goalkeeper/service/GoalService.java
  src/main/resources/static/js/goal/goalList.js
  src/main/resources/static/js/member/myGoalList.js
  src/main/resources/templates/goal/goalList.html
  src/main/resources/templates/member/myGoalList.html
Labels: 🎨 Html&css, 🔨 Fix, 💻 Client, 💾 Server

#191 Fix/my page script 오류 수정
  src/main/resources/static/js/main/intro.js
  src/main/resources/templates/member/myPage.html
Labels: 🐞 BugFix, 🔨 Fix, 💻 Client

#190 미션 상세 페이지 하단부 작업중2
  src/main/resources/templates/goal/goalDetail.html
Labels: 🎨 Html&css, 💻 Client

#192 회원탈퇴 후 인트로 페이지 이동 경로 수정
  src/main/resources/static/js/member/myPage.js
Labels: 🐞 BugFix, 🔨 Fix

#199 Update README.md
  README.md
Labels: 📃 Docs
